@mixin breakpoint($point) {
  
  $breakpoint-small: "(max-width: 679px)";
  $breakpoint-medium: "screen and (min-width: 680px) and (max-width: 1000px)";
  $breakpoint-large: "(min-width: 1001px)";

  @if $point == small {
    @media #{$breakpoint-small} { @content; }
  }
  @else if $point == medium {
    @media #{$breakpoint-medium} { @content; }
  }
  @else if $point == large {
    @media #{$breakpoint-large}  { @content; }
  }

}