$white:        #fff;
$bgwhite:      #f6f6f6;
$dashedborder: transparentize($bgwhite, .6);
$royal:        #323e58;
$slate:        #4A4A4A;
$lightash:     #8B8B8B;
$tabhiglight:  #E5E5E5;
$uiborder:     #D1D1D1;
$blueash:      #3b414e;
$profitGreen:  #2E896A;
$lossred:      #882D4D;
