@font-face{
  font-family:'Avenir Next';
  font-weight: 100;
  src:url(fonts/AvenirNext-Ultralight.woff) format('woff');
}

@font-face { 
  font-family:'Avenir Next';
  font-weight: 200;
  src:url(fonts/AvenirNext-Thin.woff) format('woff');
}

@font-face { font-family:'Avenir Next';
  font-weight: 300;
  src:url(fonts/AvenirNext-Light.woff) format('woff');
}

@font-face{
  font-family:'Avenir Next';
  font-weight: 400;
  src:url(fonts/AvenirNext-Regular.woff) format('woff');
}

@font-face{
  font-family:'Avenir Next';
  font-weight:500;
  src:url(fonts/AvenirNext-Medium.woff) format('woff');
}
@font-face{
  font-family:'Avenir Next';
  font-weight:600; 
  src:url(fonts/AvenirNext-Demi.woff) format('woff');
}
@font-face{
  font-family:'Avenir Next';
  font-weight: 700;
  src:url(fonts/AvenirNext-Bold.woff) format('woff');
}

@font-face {
  font-family:'Avenir Next';
  font-weight: 800;
  src:url(fonts/AvenirNext-Heavy.woff) format('woff');
}