@import 'styles/breakpoints';
$container: 64rem;

@mixin container($paddingH: 1rem, $paddingV: 0) {
  margin: auto;
  max-width: $container;
  padding-bottom: $paddingV;
  padding-left: $paddingH;
  padding-right: $paddingH;
  padding-top: $paddingV;
  width: 100%;
}
