@import 'styles/colors';
@import 'styles/grid';
@import 'styles/breakpoints';

.aggregator {

  background: $royal;
  color: $white;

  &__container {

    @include breakpoint(small) {
      padding-top: 1.875rem;
      padding-bottom: .75rem;
    }
    @include container;

    display: flex;
    flex-direction: column;
    padding-top: 3.375rem;
    padding-bottom: 1.5625rem;
  }

  &__pl-currency {
    @include breakpoint(small) {
      font-size: 2.25rem;
    }

    display: flex;
    font-size: 3rem;
    font-weight: 600;
    justify-content: space-between;
    line-height: 1;
    margin: 0 auto 1.5625rem;
    padding-left: 2rem;
    position: relative;
    transform: translateX(-.375rem);
  }

  &__metadata {
    @include breakpoint(small) {
      font-size: .875rem;
    }
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;

  }

  &__pl-indicator {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
