@import 'styles/colors';
@import 'styles/type';

.aggregator {
  background: $royal;
  color: $white;
  display: flex;
  flex-direction: column;
  padding: 1.875rem 1rem .75rem;
  transition: background .2s ease-in-out;

  &__pl-currency {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
    margin: 0 auto 1.5625rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 2rem;
    transform: translateX(-.375rem);
  }

  &__metadata {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 0;

  }

  &__pl-indicator {
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}
