@import 'styles/grid';
@import 'styles/colors';
@import 'styles/breakpoints';

.masthead {
  @include breakpoint(small) {
    border-bottom-width: 1px;
  }

  background: $royal;
  border-bottom: 2px dashed $dashedborder;
  color: $white;

  &__container {
    @include container;
    @include breakpoint(small) {
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    display: flex;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
  }

  &__logo {
    @include breakpoint(small) {
      height: 1.5rem;
    }
  }
}
